@font-face {
  font-family: 'IRANSans';
  src: url("../font/IRANSansMobile.ttf");
}

* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: IRANSans, Tahoma;
  direction: rtl;
}

body {
  background: #1C1C22;
  width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header {
  background-color: #101014;
  padding-bottom: 1.5rem;
}

main {
  background: #1C1C22;
  width: 90%;
  padding: 3rem 0;
}

.yellow-badge {
  background-color: #f6b828;
  font-size: .65rem;
  padding: .3rem;
  border-radius: .6rem;
}

.yellow-btn {
  background-color: transparent;
  border: 1px solid #f6b828;
  color: #f6b828;
  font-size: .8rem;
  padding: .5rem;
  border-radius: .2rem;
}

.blue-download-btn {
  color: #6898F8;
  font-size: .9rem;
  background: transparent;
  border: 1px solid #6898F8;
  padding: .9rem 1.5rem;
  border-radius: .2rem;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
  cursor: pointer;
}

.blue-download-btn:hover {
  background: #6898F8;
  color: #fff;
}

.white-transparent-badge {
  border: 1px solid #fff;
  border-radius: .5rem;
  font-size: .7rem;
  padding: .3rem;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  background: #1C1C22;
  padding: .8rem;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
}

.arrow-left-sign {
  padding-right: 5rem;
}

.search-btn {
  color: #fff;
  background: #6898F8;
  border: none;
  border-radius: .4rem;
  padding: .7rem 4.5rem;
  cursor: pointer;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(0, 0, 0, 0.99)), to(transparent));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99) 0, transparent);
  width: 100%;
}

.menu-list {
  display: inline-block;
  padding-right: 1.5rem;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .menu-list-item {
  display: inline-block;
  padding: 0 .7rem;
}

.nav .menu-list-item a {
  color: #c6c9cc;
  font-size: .9rem;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

.nav .menu-list-item a:hover {
  color: #fff;
}

.contain-dropdown::after {
  content: "\f107";
  font: var(--fa-font-solid);
  color: #c6c9cc;
  font-size: .6rem;
}

.menu-searchbox {
  position: relative;
  width: 25%;
}

.menu-searchbox .magnifying-icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 1rem;
  color: #9ba1a6;
}

.menu-searchbox .menu-searchbox-input {
  color: #fff;
  width: 100%;
  font-size: .9rem;
  border-radius: .2rem;
  padding: 1rem 1rem 1rem 6rem;
  background: #1c1c2291;
  border: none;
  outline: none;
}

.menu-searchbox .menu-searchbox-input::-webkit-input-placeholder {
  color: #9ba1a6;
}

.menu-searchbox .menu-searchbox-input:-ms-input-placeholder {
  color: #9ba1a6;
}

.menu-searchbox .menu-searchbox-input::-ms-input-placeholder {
  color: #9ba1a6;
}

.menu-searchbox .menu-searchbox-input::placeholder {
  color: #9ba1a6;
}

.exit-icon {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.exit-icon .exit {
  padding-top: 1.5rem;
  padding-right: 2rem;
}

.main-logo {
  cursor: pointer;
}

.menu-icon {
  display: none;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #fff;
  cursor: pointer;
}

.main-logo-sidebar {
  display: none;
}

.trends-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
      grid-template-columns: repeat(4, auto);
  row-gap: 1rem;
  margin: 1rem 3rem;
}

.trends-item {
  position: relative;
  cursor: pointer;
}

.trends-item-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 97%;
  opacity: 0;
  padding-top: 2rem;
  padding-right: 1.2rem;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}

.trends-item-overlay:hover {
  opacity: 1;
}

.trends-item-overlay h2 {
  font-size: 1rem;
  color: #fff;
  padding: .5rem 0;
}

.trends-item-overlay p {
  color: rgba(255, 255, 255, 0.75);
  font-size: .9rem;
}

.trends-item-overlay .imdb-score {
  padding-right: .8rem;
}

.trends-item-overlay button {
  margin-top: .8rem;
  cursor: pointer;
}

.search-by-category {
  background: #23232b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  width: 90%;
  border-radius: .3rem;
}

.new-iranian-series-header a:nth-child(2) {
  float: left;
  color: #6898F8;
  font-size: .7rem;
}

.new-iranian-series-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.new-iranian-series-title {
  padding: 2rem 0;
}

.new-iranian-series-item h5 {
  color: #e8eaf0;
  font-size: .8rem;
  padding: .7rem 0;
}

.new-iranian-series-item p {
  color: #c6c9cc;
  font-size: .7rem;
}

.new-iranian-series-item .new-iranian-series-item-image {
  position: relative;
}

.new-iranian-series-item .new-iranian-series-item-image section {
  position: absolute;
  bottom: 1rem;
  left: .4rem;
}

.new-iranian-series-item .new-iranian-series-item-image .new-iranian-series-item-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2%;
  background: linear-gradient(to bottom, transparent 0%, transparent 100px, #101014 100%);
  cursor: pointer;
}

.new-iranian-series-item .new-iranian-series-item-image:hover .new-iranian-series-item-overlay {
  display: block;
}

.main-section {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-section .pagination {
  background-color: #23232B;
  padding: 2rem;
  text-align: center;
}

.main-section .pagination span {
  color: #baaaaa;
  background: #1c1c22;
  border-radius: .3rem;
  padding: .7rem 1rem;
  cursor: pointer;
}

.main-section .pagination span:hover {
  background-color: #6898F8;
}

.main-section .pagination .active {
  background-color: #6898F8;
}

.main-section .newest-movies {
  width: 75%;
}

.main-section .newest-movies-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1rem;
  margin-bottom: 1rem;
  background: #23232B;
}

.main-section .newest-movies-item .newest-movies-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  font-size: .9rem;
  gap: 1rem;
  margin-right: 2rem;
}

.main-section .newest-movies-item .newest-movies-item-details .title {
  color: #e8eaf0;
  margin: 0;
}

.main-section .newest-movies-item .newest-movies-item-details span {
  margin: 0;
}

.main-section .newest-movies-item .newest-movies-item-details p {
  color: #bbc1c6;
  margin: 0;
  font-size: .8rem;
}

.main-section .newest-movies-item .newest-movies-item-details .movie-caption {
  background: #1B1B21;
  padding: 1rem;
}

.main-section .newest-movies-item .newest-movies-item-details button {
  margin-right: 18%;
}

.main-section .newest-movies-item .newest-movies-item-details .label {
  color: #6898F8;
}

.main-section .sidebar {
  width: calc(100% - 75%);
  margin-right: 1rem;
}

.main-section .sidebar .sidebar-updated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 5px solid #24242C;
  border-radius: .5rem;
  background: #32323D;
  color: #9ea1a6;
  padding: 1.2rem;
  margin: 1rem 0;
}

.main-section .sidebar .extra-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-section .sidebar .extra-option button {
  background: #1c1c22;
  color: #8e949a;
  border: 0;
  border-radius: .3rem;
  padding: 1rem 5rem;
  font-weight: bold;
  margin: .8rem 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.main-section .sidebar .extra-option button:hover {
  background-color: #292931;
}

.main-section .sidebar .series-update-item {
  position: relative;
  margin: .5rem 0;
}

.main-section .sidebar .series-update-item img {
  width: 100%;
  border-radius: .4rem;
}

.main-section .sidebar .series-update-item .series-update-item-caption {
  position: absolute;
  bottom: 5%;
  right: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: .4rem;
  padding: .5rem .6rem;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: .9rem;
}

.main-section .sidebar .series-update-item .series-update-item-caption span {
  margin: 0;
}

.main-section .sidebar .series-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 2rem .3rem;
}

.main-section .sidebar .series-title h3,
.main-section .sidebar .series-title a {
  font-size: 1rem;
  margin: 0;
  color: #c6c9cc;
}

footer {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-requirement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #23232B;
  width: 70%;
}

footer .footer-requirement .footer-requirement-section-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .5rem 0;
  margin-top: 1rem;
}

footer .footer-requirement .footer-requirement-section-icon i {
  margin: 0;
}

footer .footer-requirement .yellow-icon {
  background-color: #463C25;
  color: #9f9696;
  border-radius: .3rem;
  font-size: 1.5rem;
  color: #ffc107;
}

footer .footer-requirement .blue-icon {
  background-color: #2D3348;
  color: #9f9696;
  border-radius: .3rem;
  font-size: 1.5rem;
  color: #6898f8;
}

footer .footer-requirement .green-icon {
  background-color: #323E31;
  color: #9f9696;
  border-radius: .3rem;
  font-size: 1.5rem;
  color: #89d64f;
}

footer .footer-requirement .footer-requirement-section-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #beb6b6;
  margin: 1rem 0;
}

footer .footer-social-media {
  width: calc(100% - 70%);
  margin-right: 1rem;
}

footer .footer-social-media .footer-social-media-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(145deg, #FA9F6F, #FA697C);
  -webkit-box-shadow: 0 3px 20px rgba(250, 123, 119, 0.3);
          box-shadow: 0 3px 20px rgba(250, 123, 119, 0.3);
  padding: 1rem;
  border-radius: .3rem;
  color: #fff;
  margin-bottom: 1rem;
}

footer .footer-social-media .footer-social-media-instagram span {
  margin: 0;
}

footer .footer-social-media .footer-social-media-telegram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: linear-gradient(145deg, #96D5F5, #5EBAE8);
  -webkit-box-shadow: 0 3px 20px rgba(142, 209, 243, 0.35);
          box-shadow: 0 3px 20px rgba(142, 209, 243, 0.35);
  padding: 1rem;
  border-radius: .3rem;
  color: #fff;
}

footer .footer-social-media .footer-social-media-telegram span {
  margin: 0;
}

.footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 2.5rem auto;
}

.footer-bottom .footer-bottom-list-item {
  display: inline-block;
  padding: .6rem;
  font-size: .8rem;
}

.footer-bottom .footer-bottom-list-item .footer-bottom-list-item-text {
  color: #c6c9cc;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footer-bottom .footer-bottom-list-item .footer-bottom-list-item-text:hover {
  color: #fff;
}

.footer-bottom .footer-bottom-uptvs-application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #89d64f;
}

.footer-bottom .footer-bottom-uptvs-application .donwload-btn-uptvs {
  color: #89d64f;
  background: #323E31;
  border: none;
  padding: .7rem;
  margin-right: 1.5rem;
}

.line {
  width: 90%;
  height: 1px;
  background: #9ba1a6;
}

.copyright {
  width: 90%;
  font-size: .9rem;
  margin: 2rem auto;
  color: #9ba1a6;
}

@media screen and (max-width: 1298px) {
  .menu-list {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30%;
    background: #23232B;
    padding-right: 0 !important;
    overflow: auto;
    z-index: 10000;
  }
  .menu-list .menu-list-item {
    width: 100%;
    padding: 1.5rem 1rem;
  }
  .main-logo-sidebar {
    display: inline;
  }
  .menu-searchbox {
    width: 60%;
  }
  .menu-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .exit-icon {
    display: inline;
  }
  .trends-container {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  .search-by-category {
    display: none;
  }
  .newest-movies {
    width: 100% !important;
  }
  .newest-movies-item-details button {
    margin-top: 1rem;
    margin-right: 0 !important;
    width: 100%;
  }
  .main-section {
    display: block !important;
  }
  .sidebar {
    width: 100% !important;
  }
}

@media screen and (max-width: 620px) {
  .menu-searchbox-input {
    display: none;
  }
  .menu-searchbox {
    width: 0;
  }
  .menu-icon {
    margin: 1rem;
  }
  .menu-searchbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .magnifying-icon {
    cursor: pointer;
  }
  .magnifying-icon i {
    color: #fff;
    font-size: 1.2rem;
  }
  .trends-container {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    overflow: scroll;
    gap: 1rem;
  }
  .sidebar {
    margin-right: 0 !important;
  }
  .newest-movies img {
    width: 50% !important;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .newest-movies .newest-movies-item-details {
    width: 100% !important;
  }
  .newest-movies .newest-movies-item-details .movie-caption {
    display: none;
  }
  .newest-movies .newest-movies-item-details button {
    display: none;
  }
  footer {
    display: block !important;
  }
  footer .footer-requirement {
    display: block !important;
    width: 100% !important;
  }
  footer .footer-social-media {
    width: 100% !important;
    margin: 1rem auto;
  }
}
/*# sourceMappingURL=style.css.map */