@import "variables";
@import "mixins";

@font-face {
    font-family: 'IRANSans';
    src: url("../font/IRANSansMobile.ttf"),
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans, Tahoma;
    direction: rtl;
}

body {
    background: $primaryColor;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $whiteText;
}

.yellow-badge {
    background-color: $yellow;
    font-size: .65rem;
    padding: .4rem .3rem;
    border-radius: .6rem;
}

.blue-download-btn {
    color: $blueBtn;
    font-size: .9rem;
    background: transparent;
    border: 1px solid $blueBtn;
    padding: .6rem 1rem;
    border-radius: .2rem;
    transition: all .3s ease-out;
    cursor: pointer;

    &:hover {
        background: $blueBtn;
        color: $whiteText;
    }
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $whiteText;
    background: $primaryColor;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.arrow-left-sign {
    padding-right: 5rem;
}

.search-btn {
    color: $whiteText;
    background: $blueBtn;
    border: none;
    border-radius: .4rem;
    padding: .7rem 4.5rem;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99) 0, transparent);
}

.menu-list {
    display: inline-block;
    padding-right: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;


    .menu-list-item {
        display: inline-block;
        padding: 0 .7rem;

        a {
            color: $navText;
            font-size: .9rem;
            transition: all .2s linear;

            &:hover {
                color: $whiteText;
            }
        }
    }
}


.contain-dropdown {
    @include dropdown;
}

.menu-searchbox {
    position: relative;
    width: 25%;


    .magnifying-icon {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1rem;
        color: #9ba1a6;
    }

    .menu-searchbox-input {
        color: $whiteText;
        width: 100%;
        font-size: .9rem;
        border-radius: .2rem;
        padding: 1rem 1rem 1rem 6rem;
        background: #1c1c2291;
        border: none;
        outline: none;

        &::placeholder {
            color: #9ba1a6;
        }
    }

}

.exit-icon {
    display: none;
    font-size: 1.5rem;
    color: $whiteText;
    cursor: pointer;


    .exit {
        padding-top: 1.5rem;
        padding-right: 2rem;
    }
}

.main-logo {
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: $whiteText;
    cursor: pointer;
}

.main-logo-sidebar {
    display: none;
}


@media screen and (max-width : 991px) {
    .menu-list {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        background: #23232B;
        padding-right: 0 !important;
        overflow: auto;
        z-index: 10000;

        .menu-list-item {
            width: 100%;
            padding: 1.5rem 1rem;
        }
    }

    .main-logo-sidebar {
        display: inline;
    }


    .menu-searchbox {
        width: 60%;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    .exit-icon {
        display: inline;
    }
}

@media screen and (max-width: 620px) {
    .menu-searchbox-input {
        display: none;
    }

    .menu-searchbox {
        width: 0;
    }

    .menu-icon {
        margin: 1rem;
    }

    .menu-searchbox {
        display: flex;
        align-items: center;
    }

    .magnifying-icon {
        cursor: pointer;

        i {
            color: $whiteText;
            font-size: 1.2rem;
        }
    }
}