@import "variables";
@import "mixins";

@font-face {
    font-family: 'IRANSans';
    src: url("../font/IRANSansMobile.ttf"),
}

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: IRANSans, Tahoma;
    direction: rtl;
}

body {
    background: $primaryColor;
    width: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $whiteText;
}

header {
    background-color: $trendsBannerColor;
    padding-bottom: 1.5rem;
}

main {
    background: $primaryColor;
    width: 90%;
    padding: 3rem 0;
}

.yellow-badge {
    background-color: $yellow;
    font-size: .65rem;
    padding: .3rem;
    border-radius: .6rem;
}

.yellow-btn {
    background-color: transparent;
    border: 1px solid $yellow;
    color: $yellow;
    font-size: .8rem;
    padding: .5rem;
    border-radius: .2rem;
}

.blue-download-btn {
    color: $blueBtn;
    font-size: .9rem;
    background: transparent;
    border: 1px solid $blueBtn;
    padding: .9rem 1.5rem;
    border-radius: .2rem;
    transition: all .3s ease-out;
    cursor: pointer;

    &:hover {
        background: $blueBtn;
        color: $whiteText;
    }
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $whiteText;
    background: $primaryColor;
    padding: .8rem;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.arrow-left-sign {
    padding-right: 5rem;
}

.search-btn {
    color: $whiteText;
    background: $blueBtn;
    border: none;
    border-radius: .4rem;
    padding: .7rem 4.5rem;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.99) 0, transparent);
    width: 100%;
}

.menu-list {
    display: inline-block;
    padding-right: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;


    .menu-list-item {
        display: inline-block;
        padding: 0 .7rem;

        a {
            color: $navText;
            font-size: .9rem;
            transition: all .2s linear;

            &:hover {
                color: $whiteText;
            }
        }
    }
}


.contain-dropdown {
    @include dropdown;
}

.menu-searchbox {
    position: relative;
    width: 25%;


    .magnifying-icon {
        position: absolute;
        top: 1rem;
        left: 1rem;
        font-size: 1rem;
        color: #9ba1a6;
    }

    .menu-searchbox-input {
        color: $whiteText;
        width: 100%;
        font-size: .9rem;
        border-radius: .2rem;
        padding: 1rem 1rem 1rem 6rem;
        background: #1c1c2291;
        border: none;
        outline: none;

        &::placeholder {
            color: #9ba1a6;
        }
    }

}

.exit-icon {
    display: none;
    font-size: 1.5rem;
    color: $whiteText;
    cursor: pointer;


    .exit {
        padding-top: 1.5rem;
        padding-right: 2rem;
    }
}

.main-logo {
    cursor: pointer;
}

.menu-icon {
    display: none;
    font-size: 1.5rem;
    padding: 0 1rem;
    color: $whiteText;
    cursor: pointer;
}

.main-logo-sidebar {
    display: none;
}

.trends-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    row-gap: 1rem;
    // gap: 2rem;
    margin: 1rem 3rem;
}

.trends-item {
    position: relative;
    cursor: pointer;
}

.trends-item-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 97%;
    opacity: 0;
    padding-top: 2rem;
    padding-right: 1.2rem;
    background: rgba(0, 0, 0, 0.7);
    transition: all 400ms ease 0s;

    &:hover {
        opacity: 1;
    }

    h2 {
        font-size: 1rem;
        color: $whiteText;
        padding: .5rem 0;
    }

    p {
        color: rgba(255, 255, 255, 0.75);
        font-size: .9rem;
    }

    .imdb-score {
        padding-right: .8rem;
    }

    button {
        margin-top: .8rem;
        cursor: pointer;
    }
}

.search-by-category {
    background: #23232b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 90%;
    border-radius: .3rem;
}

.new-iranian-series-header {
    // padding-bottom: 1.5rem;

    a:nth-child(2) {
        float: left;
        color: $blueBtn;
        font-size: .7rem;
    }
}

.new-iranian-series-list {
    display: flex;
    flex-wrap: wrap;
}

.new-iranian-series-title {
    padding: 2rem 0;
}

.new-iranian-series-item {
    h5 {
        color: #e8eaf0;
        font-size: .8rem;
        padding: .7rem 0;
    }

    p {
        color: #c6c9cc;
        font-size: .7rem;
    }

    .new-iranian-series-item-image {
        position: relative;

        section {
            position: absolute;
            bottom: 1rem;
            left: .4rem;
        }

        .new-iranian-series-item-overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 2%;
            background: linear-gradient(to bottom, transparent 0%, transparent 100px, #101014 100%);
            cursor: pointer;
        }


        &:hover {
            .new-iranian-series-item-overlay {
                display: block;
            }
        }
    }
}

.main-section {
    margin-top: 3rem;
    display: flex;

    .newest-movies {
        width: 75%;
    }

    .newest-movies-item {
        display: flex;
        padding: 1rem;
        margin-bottom: 1rem;
        background: #23232B;

        .newest-movies-item-details {
            display: flex;
            flex-direction: column;
            width: 80%;
            font-size: .9rem;
            gap: 1rem;
            margin-right: 2rem;

            .title {
                color: #e8eaf0;
                margin: 0;
            }

            span {
                margin: 0;
            }

            p {
                color: #bbc1c6;
                margin: 0;
                font-size: .8rem;
            }

            .movie-caption {
                background: $secondaryColor;
                padding: 1rem;
            }
            
            button {
                margin-right: 16rem;
            }

            .label {
                color: $blueBtn;
            }
        }
    }

    .sidebar {
        width: calc(100% - 75%);
        margin-right: 1rem;
        background: red;
    }
}


@media screen and (max-width : 1298px) {
    .menu-list {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 30%;
        background: #23232B;
        padding-right: 0 !important;
        overflow: auto;
        z-index: 10000;

        .menu-list-item {
            width: 100%;
            padding: 1.5rem 1rem;
        }
    }

    .main-logo-sidebar {
        display: inline;
    }


    .menu-searchbox {
        width: 60%;
    }

    .menu-icon {
        display: flex;
        align-items: center;
    }

    .exit-icon {
        display: inline;
    }

    .trends-container {
        grid-template-columns: repeat(2, auto);
    }

    .search-by-category {
        display: none;
    }
}

@media screen and (max-width: 620px) {
    .menu-searchbox-input {
        display: none;
    }

    .menu-searchbox {
        width: 0;
    }

    .menu-icon {
        margin: 1rem;
    }

    .menu-searchbox {
        display: flex;
        align-items: center;
    }

    .magnifying-icon {
        cursor: pointer;

        i {
            color: $whiteText;
            font-size: 1.2rem;
        }
    }

    .trends-container {
        grid-template-columns: repeat(4, auto);
        overflow: scroll;
        gap: 1rem;
    }
}